@define-color base              #080709;
@define-color highlight         #231F27;
@define-color brighthighlight   #3D3544;

@define-color text              #FCFAFF;

@define-color one               #9742FF;
@define-color two               #AE2EFF;
@define-color three             #BB3EFE;
@define-color four              #CB46FF;
@define-color five              #EA30FF;

@define-color red               #D91C1C;

* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    margin-left: 50;
    margin-right: 50;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
    background: @brighthighlight;
    border: @brighthighlight;
}

#workspaces button {
    padding: 0 8px;
    color: @text;
    border-radius: 3px;
    margin: 5px 0 5px 5px;
}

#workspaces button.selected {
    background-color: @text;
}

#workspaces button.active {
    background-color: @highlight;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-updates,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 12px;
    background-color: @highlight;
    color: @text;
    border-radius: 3px;
    margin: 5px 0;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#clock {
  color: @text;
}

#custom-updates {
  color: @red;
}

#disk {
    color: @one;
}

#pulseaudio {
  color: @two;
}

#pulseaudio.muted {
  color: @brighthighlight;
}

#network {
  color: @three;
}

#network.disconnected {
  color: @brighthighlight;
}

#battery {
    color: @four;
}

#battery.warning:not(.charging) {
    background-color: @red;
    color: @base;
}

#custom-power {
  color: @five;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

/* vim: ft=sass
*/
