* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Material Design Icons, JetbrainsMono Nerd Font;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(15,15,15,0.8);
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 14px;
  margin: 6px 3px;
  border-radius: 3px;
  color: rgb(255,255,255);
}

#workspaces button.active {
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: rgb(0,0,0);
 background-color: rgb(255,255,255);
}

#workspaces button.urgent {
  background-color: rgb(255,50,50);
}

#window,
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#mpd,
#tray {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 14px;
  margin: 6px 3px;
  border-radius: 3px;
  color: rgb(255,255,255);
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 3px;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 24px;
  color: #1793d1;
}

#mpd {
}
#battery {
}
@keyframes blink {
  to {
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: rgb(0,0,0);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
}

#backlight {
}

#pulseaudio {
}

#network {
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  margin-right: 5px;
}

#custom-power {
}

#window {
  color: #000000;
}

tooltip {
border-radius: 8px;
padding: 15px;
background-color: rgba(20,20,20,0.8);
}

tooltip label {
padding: 5px;
background-color: rgba(20,20,20,0.8);
}
